@model Warrior

<div class="card-body">
    <h4 class="card-title">@Model.WarriorName</h4>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>@Model.WarriorId</td>
        </tr>
        <tr>
            <td>HP</td>
            <td>@Model.Hp</td>
        </tr>
        <tr>
            <td>AttackMod Modifier</td>
            <td>@Model.AttackMod</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>@Model.Defense</td>
        </tr>
        
    </table>
</div>
