@model Warrior

<div class="card-body">
    <h4 class="card-title">@Model.WarriorName</h4>
    <table class="table">
        <tr>
            <td>Level</td>
            <td>@Model.Level</td>
        </tr>
        <tr>
            <td>HP</td>
            <td>@Model.Hp</td>
        </tr>
        <tr>
            <td>Attack Modifier</td>
            <td>@Model.AttackMod</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>@Model.Defense</td>
        </tr>
        <tr>
            <td>XP</td>
            <td>@Model.Xp / 100</td>
        </tr>
        
    </table>
</div>
